# Sistema Operacional
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependências
node_modules/

# Build
dist/
build/

# Ambiente
.env
.env.local
